.aside {
  width: 280px;
  height: 100%;
  position: fixed;
  z-index: 10;
  overflow-y: auto;
  padding-top: 22px;
  padding-bottom: 22px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.06);

  @media (max-width: $tablet-width) {
    width: 240px;
  }

  @media (max-width: $mobile-width) {
    position: static;
    width: auto;
    padding: 0;
  }
}

.aside__logo {
  display: block;
  margin-bottom: 24px;
  margin-left: 19px;

  @media (max-width: $tablet-width) {
    margin-left: 10px;
  }

  @media (max-width: $mobile-width) {
    margin: 0;
    position: absolute;
    z-index: 1;
    top: 16px;
    left: 52px;
  }
}

.aside__logo-icon {
  width: 122px;
  height: 28px;

  @media (max-width: $mobile-width) {
    width: 93px;
    height: 23px;
  }
}

.aside__nav {
  @media (max-width: $mobile-width) {
    position: absolute;
    top: 56px;
    z-index: 1;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    background-color: #ffffff;
    margin-top: 10px;

    &--closed {
      display: none;
    }

    &--opened {
      display: block;
      overflow-y: auto;
    }
  }
}
