.cards {
  position: relative;
  margin-top: 36px;

  @media (max-width: $mobile-width) {
    margin-top: 17px;
  }
}

.cards__list-container {
  @media (max-width: $mobile-width) {
    overflow: hidden;
  }
}

.cards__button-block {
  position: absolute;
  display: flex;
  justify-content: space-between;
  right: -2px;
  top: -44px;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.cards__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $color-black;
  background-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }

  &--prev {
    margin-right: 16px;
  }
}

.cards__button:disabled {
  border-color: #e6e4e7;
  color: #1a1a1a;
}

.cards__button:hover:disabled,
.cards__button:focus:disabled {
  background-color: #f2f1f3;
}

.cards__button-arrow {
  margin-right: 2px;

  &--prev {
    transform: rotate(180deg);
    margin-right: 0;
    margin-left: 2px;
  }
}

.cards__list {
  @include reset-list;
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    justify-content: space-around;
  }

  @media (max-width: $mobile-width) {
    justify-content: flex-start;
  }
}

.cards__item {
  position: relative;
  width: 224px;
  min-height: 329px;

  @media (max-width: $desktop-width) {
    display: none;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      display: block;
    }
  }

  @media (max-width: $tablet-width) {
    &:nth-child(3) {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    display: block;
    width: 134px;
    min-height: 285px;
    margin-right: 10px;

    &:nth-child(3),
    &:nth-child(4) {
      display: block;
    }
  }
}

.cards__item-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: inset 0 0 0 1px #e6e4e7;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff;
  min-height: 285px;
  bottom: auto;

  &:hover,
  &:focus {
    box-shadow: inset 0 0 0 1px $accent-color, 0px 0px 32px rgba(0, 0, 0, 0.12);
    bottom: auto;
  }
}

.card__img-block {
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
}
.cards__item-img {
  display: block;
  width: 100%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.cards__promo {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 7px;
  border-radius: 8px;
  border-bottom-left-radius: 0px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;

  &--best-yellow {
    background-color: #f2c94c;
  }

  &--present {
    background-color: #27ae60;
    color: #ffffff;
  }

  &--best-accent {
    background-color: $accent-color;
    color: #ffffff;
  }

  @media (max-width: $mobile-width) {
    font-size: 10px;
    line-height: 10px;
  }
}

.cards__promo svg {
  margin-right: 5px;
}

.cards__description {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-top: 8px;

  @media (max-width: $mobile-width) {
    padding-top: 12px;
  }
}

.cards__title {
  flex-grow: 1;
  margin: 0;
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  min-height: 48px;

  @media (max-width: $mobile-width) {
    font-size: 12px;
    line-height: 16px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 0;
  }
}

.cards__availability {
  display: flex;
  align-items: center;
  margin: 0;
}

.cards__availability-icon {
  margin-right: 3px;
}

.cards__availability-text {
  font-size: 12px;
  line-height: 16px;
}

.cards__descr {
  @include reset-list;
  display: none;
  margin-top: 16px;
}

.cards__item:hover .cards__descr,
.cards__item:focus .cards__descr {
  display: block;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.cards__descr-item {
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

.cards__descr-item p,
.cards__descr-item span  {
  font-size: 12px;
  line-height: 16px;
  color: $gray-text;
}

.cards__descr-item p {
  margin: 0;
}

.cards__descr-item span {
  opacity: 0.9;
  color: $color-black;
}

