.cards {
  position: relative;
  margin-top: 36px;

  @media (max-width: $mobile-width) {
    margin-top: 17px;
  }
}

.cards__list-container {
  overflow: hidden;
  @media (max-width: $mobile-width) {
    overflow: hidden;
  }
}

.cards__button-block {
  position: absolute;
  display: flex;
  justify-content: space-between;
  right: -2px;
  top: -44px;

  @media (max-width: $tablet-width) {
    right: 22px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.cards__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $color-black;
  background-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  cursor: pointer;
  outline: none;
  transition: 0.3s;

  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }

  &--prev {
    margin-right: 16px;
  }
}

.swiper-button-disabled {
  border-color: $gray-lines;
  color: $color-black;
}

.swiper-button-disabled:hover,
.swiper-button-disabled:focus {
  background-color: $gray-fills;
  border-color: $gray-lines;
  color: $color-black;
}

.cards__button-arrow {
  margin-right: 2px;

  &--prev {
    transform: rotate(180deg);
    margin-right: 0;
    margin-left: 2px;
  }
}

.cards__list {
  @include reset-list;
  display: flex;
  justify-content: flex-start;
}

.cards__item {
  position: relative;
  width: 224px;
  min-height: 485px;
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $tablet-width) {
    &:first-child {
      margin-left: 20px;
    }

    &:last-child {
      margin-right: 20px;
    }
  }

  @media (max-width: $mobile-width) {
    display: block;
    width: 134px;
    min-height: 287px;
    margin-right: 8px;

    &:first-child {
      margin-left: 16px;
    }

    &:last-child {
      margin-right: 16px;
    }
  }
}

.cards__item-inner {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid $gray-lines;
  border-radius: 8px;
  cursor: pointer;
  background-color: #ffffff;
  min-height: 285px;
  transition: 0.3s;
  max-height: 329px;
  bottom: auto;

  &:hover,
  &:focus {
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.12);

    border-color: $accent-color;
    max-height: 485px;
  }
}

.cards__item-img {
  display: block;
  width: 100%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.cards__promo {
  position: absolute;
  top: -1px;
  right: -1px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 7px;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;

  &--best-yellow {
    background-color: #f2c94c;
  }

  &--present {
    background-color: #27ae60;
    color: #ffffff;
  }

  &--best-accent {
    background-color: $accent-color;
    color: #ffffff;
  }

  @media (max-width: $mobile-width) {
    font-size: 10px;
    line-height: 10px;
  }
}

.cards__promo svg {
  margin-right: 5px;
}

.cards__description {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-top: 8px;

  @media (max-width: $mobile-width) {
    padding-top: 12px;
  }
}

.cards__title {
  flex-grow: 1;
  margin: 0;
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  min-height: 48px;

  @media (max-width: $mobile-width) {
    font-size: 12px;
    line-height: 16px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 0;
  }
}

.cards__availability {
  display: flex;
  align-items: center;
  margin: 0;
}

.cards__availability-icon {
  margin-right: 3px;
}

.cards__availability-text {
  font-size: 12px;
  line-height: 16px;
}

.cards__descr {
  @include reset-list;
  opacity: 0;
  padding-top: 18px;
  transition: 0.3s;
  transform: translateY(-100px);
  z-index: -1;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.cards__item:hover .cards__descr,
.cards__item:focus .cards__descr {
  opacity: 1;
  transform: translateY(0px);
  z-index: 0;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.cards__descr-item {
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

.cards__descr-item p,
.cards__descr-item span {
  font-size: 12px;
  line-height: 16px;
  color: $gray-text;
}

.cards__descr-item p {
  margin: 0;
}

.cards__descr-item span {
  opacity: 0.9;
  color: $color-black;
}
