.catalog {
  padding: 39px 40px 0px 40px;

  @media (max-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
  }

  @media (max-width: $mobile-width) {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 40px;
  }
}

.catalog__title {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin: 0;

  @media (max-width: $tablet-width) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: $mobile-width) {
    font-size: 20px;
    line-height: 24px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.catalog__title svg {
  width: 28px;
  display: block;
}

.catalog__title span {
  @media (max-width: $mobile-width) {
    width: 252px;
    margin-right: 0;
  }
}

.catalog__title-icon {
  margin-right: 8px;
}
