.copyright {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 16px;

  @media (max-width: $tablet-width) {
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
  }

  @media (max-width: $mobile-width) {
    margin-left: 0;
  }
}

.copyright__text {
  @media (max-width: $tablet-width) {
    width: 60%;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-bottom: 32px;
  }
}

.copyright__privacy,
.copyright__date,
.copyright__agency-link {
  font-size: 12px;
  line-height: 16px;
  color: $color-black;
  text-decoration: none;
}

.copyright__privacy {
  display: block;
  margin-bottom: 16px;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.copyright__date {
  margin: 0;
}

.copyright__agency-link {
  display: flex;
  align-items: center;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.social__link-icon {
  margin-right: 5px;
}
