.site-wrapper {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}

.site-wrapper__main {
  position: relative;
  margin-left: 280px;

  @media (max-width: $tablet-width) {
    margin-left: 240px;
  }

  @media (max-width: $mobile-width) {
    display: flex;
    margin-left: 0;
    flex-direction: column;
  }
}
