.site-list {
  @include reset-list;
  padding-bottom: 5px;
  border-bottom: 1px solid $gray-lines;

  @media (max-width: $mobile-width) {
    background-color: #ffffff;
  }
}

.site-list__link {
  padding-left: 16px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  color: #1a1a1a;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: $light-pink;
  }

  @media (max-width: $tablet-width) {
    padding-left: 10px;
    padding-right: 5px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 16px;
    padding-right: 60px;
  }
}

.site-list__link-icon {
  margin-right: 6px;
}

.site-list__link-arrow {
  margin-left: auto;
}
