.site-wrapper {
  position: relative;
}

.site-wrapper__main {
  position: relative;
  margin-left: 280px;

  @media (max-width: $tablet-width) {
    margin-left: 0;
  }

  @media (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
  }
}
