.site-menu {
  display: none;
  padding-left: 16px;
  padding-right: 16px;

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.site-menu__list {
  @include reset-list;
}

.site-menu__item {
  display: block;
  opacity: 1;
  transition: all 0.2s ease-out;
  pointer-events: inherit;

  &--no-active {
      opacity: 0;
      pointer-events: none;
  }
}

.site-menu__item--purchase {
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #e6e4e7;
}

.site-menu__link {
  display: flex;
  justify-content: flex-start;
  padding: 10px 12px;
  margin-bottom: 8px;
  background: $gray-fills;
  border-radius: 8px;
  width: 100%;
  min-height: 48px;
  font: inherit;
  font-size: 14px;
  line-height: 24px;
  color: $color-black;
  text-decoration: none;
  transition: 0.3s;

  &:active {
    background-color: $accent-color;
    color: #ffffff;
    border-color: $accent-color;
  }

  &--button {
    border: 1px solid $color-black;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
  }
}

.site-menu__link span {
  margin-left: 8px;
  padding-top: 2px;
}

.site-menu__link--button span {
  margin-right: 5px;
  padding-top: 1px;
  margin-left: 5px;
}

.site-menu__button-arrow {
  transform: rotate(90deg);
}
