.submenu-sofa {
  display: none;
  top: 0;
  bottom: 0;
  position: fixed;
  margin-left: 280px;
  width: 280px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;
  overflow-y: auto;
  z-index: 11;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.06);

  &--active {
    display: block;
  }

  @media (max-width: $tablet-width) {
    margin-left: 240px;
    width: 240px;
  }

  @media (max-width: $mobile-width) {
    margin-left: 0;
    width: 100%;
    top: 56px;
    z-index: 2;
    padding-top: 19px;
  }
}

.submenu-sofa__list {
  @include reset-list;
}

.submenu-sofa__btn-title {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
  padding: 0;
  padding-left: 5px;
  margin-bottom: 3px;
}

.submenu-sofa__btn-arrow {
  display: none;
  transform: rotate(180deg);
  margin-left: 8px;
  margin-right: 10px;

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.submenu-sofa__btn-icon {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.submenu-sofa__title {
  margin: 0;
  padding-left: 16px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 24px;

  @media (max-width: $tablet-width) {
    padding-left: 10px;
  }

  @media (max-width: $mobile-width) {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 0;
    padding-left: 6px;
  }
}

.submenu-sofa__link {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  display: block;
  font: inherit;
  font-size: 14px;
  line-height: 24px;
  color: $color-black;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: $light-pink;
  }
}
