.user-section {
  display: flex;
  padding: 16px 40px;

  @media (max-width: $desktop-width) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: $mobile-width) {
    flex-wrap: wrap;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    margin-bottom: 8px;
  }
}

.user-section__location {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
    width: 100%;
    margin-bottom: 8px;
  }
}

.user-section__location-city {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  color: #1a1a1a;
  text-decoration: none;
  transition: 0.3s;

  width: 100%;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.user-section__location-city span {
  margin-right: 3px;
}

.user-section__location-arrow {
  transform: rotate(90deg);
  width: 16px;
  height: 16px;
}
