// Цвет
$color-black: #1a1a1a;
$accent-color: #ee2a74;
$gray-text: #a2a0a3;

// Шрифты
$font-main: "Helvetica", "Arial", sans-serif;

// Разрешения экрана
$mobile-width: 767px;
$tablet-width: 1023px;

// Ретина экран
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
