// Цвет
$color-black: #1a1a1a;
$accent-color: #ee2a74;
$gray-text: #a2a0a3;
$gray-fills: #f2f1f3;
$gray-lines: #e6e4e7;
$light-pink: #fdeaf1;

// Шрифты
$font-main: "Helvetica", "Arial", sans-serif;

// Разрешения экрана
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1279px;

// Ретина экран
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
